body {
    width: 100%;
    background: #eee;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

header nav{
    z-index: 100;
}

header nav a {
    color: #fff !important;
}

input, textarea {
    border: 1px solid #eee !important;
}

.btn, .btn:focus  {
    border: none !important;
}

button.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

input:focus, textarea:focus {
    border: 1px solid rgb(187, 187, 187) !important;
    box-shadow: none !important;
    outline: none !important;
}

section#form, section#register, section#login {
 width: 100%;
 height: 100%;
}

form#add-product, form#register-form, form#login-form {
    width: 98%;
    margin: 0 auto;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

@media (min-width: 768px) {
    form#add-product, form#register-form, form#login-form  {
        width: 40%;
    }
    
}

form#add-product h1, form#register-form h1, form#login-form  h1 {
    opacity: .8;
    font-size: 2rem;
    font-family: cursive, sans-serif;
}

form#add-product label, form#register-form label, form#login-form  label {
    font-family: cursive, sans-serif;
    opacity: 0.8;
    
}

form#add-product input[type='submit'],
form#register-form input[type='submit'], form#login-form  input[type='submit'] {
    background: coral;
    color: #fff;
    text-transform: uppercase;
    font-family: cursive, sans-serif;
}

form#add-product input[type='submit']:hover,
form#register-form input[type='submit']:hover,
form#register-form input[type='submit']:active,
form#login-form input[type='submit']:hover,
form#login-form input[type='submit']:active {
    background: rgb(219, 108, 67) !important;
    color: #fff !important;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    opacity: 0.8;
    background: #000;
    color: #fff;
    padding: 0.3rem 0;
}

i.bi-trash3:hover {
  cursor: pointer;
}

header.cart-header h3 {
    font-family: cursive, sans-serif;
}